// Mixins
@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
$font-bold: 700;

/* In type partial */
@font-face {
  font-family: 'Hind Madurai';
  src: url("fonts/HindMadurai-Light.ttf") format("ttf");
   font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url("fonts/HindMadurai-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hind Madurai';
  src: url("fonts/HindMadurai-Bold.ttf") format("ttf");
  font-weight: $font-bold;
  font-style: normal;
}

@mixin serif-font() {
  font-family: 'Hind Madurai', sans-serif;
}
@mixin sans-serif-font() {
  font-family:'Hind Madurai','Helvetica Neue', Arial, sans-serif;
}